In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
test = pd.read_csv('https://raw.githubusercontent.com/cicbeast/PythonCoding/main/KaggleComps/titanic/test.csv', index_col=0)
train = pd.read_csv("https://raw.githubusercontent.com/cicbeast/PythonCoding/main/KaggleComps/titanic/train.csv", index_col=0)

In [11]:
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [14]:
# From the basic info call I know that Cabin will not be a feature that I can reasonably use.
# Next, a full pandas profile

In [15]:
!pip install pandas-profiling

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas-profiling
  Downloading pandas_profiling-2.9.0-py2.py3-none-any.whl (258 kB)
     |████████████████████████████████| 258 kB 664 kB/s eta 0:00:01
Collecting phik>=0.9.10
  Downloading phik-0.10.0-py3-none-any.whl (599 kB)
     |████████████████████████████████| 599 kB 815 kB/s eta 0:00:01
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Collecting confuse>=1.0.0
  Downloading confuse-1.3.0-py2.py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 127 kB/s eta 0:00:01
Collecting joblib
  Downloading joblib-0.17.0-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 2.3 MB/s eta 0:00:01
Requirement already satisfied: ipywidgets>=7.5.1 in /home/cicbeast/.local/lib/python3.8/site-packages (from pandas-profiling) (7.5.1)
Collecting seaborn>=0.10.1
  Downloading seaborn-0.11.0-py3-none-any.whl (283 kB)
     |████████████████████████████████| 283 kB 2.6 MB/s eta 0:00:01
Collecting tangled-up-in-unicode>=0.0.6
  Downloading tangled_up_in_unicode-0.0.6-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 3.6 MB/s eta 0:00:01
Requirement already satisfied: attrs>=19.3.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from pandas-profiling) (20.2.0)
Collecting visions[type_image_path]==0.5.0
  Downloading visions-0.5.0-py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 580 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from pandas-profiling) (1.19.2)
Collecting requests>=2.23.0
  Downloading requests-2.24.0-py2.py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 90 kB/s  eta 0:00:01
Requirement already satisfied: jinja2>=2.11.1 in /home/cicbeast/.local/lib/python3.8/site-packages (from pandas-profiling) (2.11.2)
Requirement already satisfied: matplotlib>=3.2.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from pandas-profiling) (3.3.2)
Collecting tqdm>=4.43.0
  Downloading tqdm-4.51.0-py2.py3-none-any.whl (70 kB)
     |████████████████████████████████| 70 kB 1.5 MB/s eta 0:00:01
Collecting missingno>=0.4.2
  Downloading missingno-0.4.2-py3-none-any.whl (9.7 kB)
Collecting scipy>=1.4.1
  Downloading scipy-1.5.3-cp38-cp38-manylinux1_x86_64.whl (25.8 MB)
     |████████████████████████████████| 25.8 MB 3.2 MB/s eta 0:00:01
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /home/cicbeast/.local/lib/python3.8/site-packages (from pandas-profiling) (1.1.3)
Collecting numba>=0.38.1
  Downloading numba-0.51.2-cp38-cp38-manylinux2014_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 6.1 MB/s eta 0:00:01
Requirement already satisfied: pyyaml in /usr/lib/python3/dist-packages (from confuse>=1.0.0->pandas-profiling) (5.3.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (3.5.1)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /home/cicbeast/.local/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (7.18.1)
Requirement already satisfied: traitlets>=4.3.1 in /home/cicbeast/.local/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.0.4)
Requirement already satisfied: ipykernel>=4.5.1 in /home/cicbeast/.local/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.3.4)
Requirement already satisfied: nbformat>=4.2.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.0.8)
Collecting networkx>=2.4
  Downloading networkx-2.5-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 6.9 MB/s eta 0:00:01
Requirement already satisfied: Pillow; extra == "type_image_path" in /usr/lib/python3/dist-packages (from visions[type_image_path]==0.5.0->pandas-profiling) (7.0.0)
Collecting imagehash; extra == "type_image_path"
  Downloading ImageHash-4.1.0.tar.gz (291 kB)
     |████████████████████████████████| 291 kB 2.6 MB/s eta 0:00:01
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/lib/python3/dist-packages (from requests>=2.23.0->pandas-profiling) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/cicbeast/.local/lib/python3.8/site-packages (from requests>=2.23.0->pandas-profiling) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.23.0->pandas-profiling) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/lib/python3/dist-packages (from requests>=2.23.0->pandas-profiling) (1.25.8)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/lib/python3/dist-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/cicbeast/.local/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/cicbeast/.local/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /home/cicbeast/.local/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/lib/python3/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (2.7.3)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2019.3)
Collecting llvmlite<0.35,>=0.34.0.dev0
  Downloading llvmlite-0.34.0-cp38-cp38-manylinux2010_x86_64.whl (24.6 MB)
     |████████████████████████████████| 24.6 MB 1.7 MB/s eta 0:00:01
Requirement already satisfied: setuptools in /home/cicbeast/.local/lib/python3.8/site-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling) (50.3.1)
Requirement already satisfied: notebook>=4.4.1 in /home/cicbeast/.local/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (6.1.4)
Requirement already satisfied: jedi>=0.10 in /home/cicbeast/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.17.2)
Requirement already satisfied: pygments in /home/cicbeast/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (2.7.1)
Requirement already satisfied: decorator in /home/cicbeast/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (4.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (3.0.8)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /usr/lib/python3/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (4.6.0)
Requirement already satisfied: pickleshare in /home/cicbeast/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.5)
Requirement already satisfied: backcall in /home/cicbeast/.local/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.2.0)
Requirement already satisfied: ipython-genutils in /home/cicbeast/.local/lib/python3.8/site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling) (0.2.0)
Requirement already satisfied: tornado>=4.2 in /home/cicbeast/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (6.0.4)
Requirement already satisfied: jupyter-client in /home/cicbeast/.local/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (6.1.7)
Requirement already satisfied: jupyter-core in /home/cicbeast/.local/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/cicbeast/.local/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (3.2.0)

Requirement already satisfied: six in /usr/lib/python3/dist-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.5.0->pandas-profiling) (1.14.0)
Collecting PyWavelets
  Downloading PyWavelets-1.1.1-cp38-cp38-manylinux1_x86_64.whl (4.4 MB)
     |████████████████████████████████| 4.4 MB 176 kB/s eta 0:00:01
Requirement already satisfied: argon2-cffi in /home/cicbeast/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (20.1.0)
Requirement already satisfied: terminado>=0.8.3 in /home/cicbeast/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.9.1)
Requirement already satisfied: Send2Trash in /home/cicbeast/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.5.0)
Requirement already satisfied: pyzmq>=17 in /home/cicbeast/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (19.0.2)
Requirement already satisfied: prometheus-client in /home/cicbeast/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.0)
Requirement already satisfied: nbconvert in /home/cicbeast/.local/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (6.0.7)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.1)
Requirement already satisfied: wcwidth in /home/cicbeast/.local/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.2.5)
Requirement already satisfied: pyrsistent>=0.14.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (0.17.3)
Requirement already satisfied: cffi>=1.0.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.14.3)
Requirement already satisfied: ptyprocess; os_name != "nt" in /home/cicbeast/.local/lib/python3.8/site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /home/cicbeast/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.4)
Requirement already satisfied: jupyterlab-pygments in /home/cicbeast/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/lib/python3/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.3)
Requirement already satisfied: defusedxml in /home/cicbeast/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.6.0)
Requirement already satisfied: bleach in /home/cicbeast/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (3.2.1)
Requirement already satisfied: testpath in /home/cicbeast/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.4.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /home/cicbeast/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/cicbeast/.local/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.4.2)
Requirement already satisfied: pycparser in /home/cicbeast/.local/lib/python3.8/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (2.20)
Requirement already satisfied: packaging in /home/cicbeast/.local/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (20.4)
Requirement already satisfied: webencodings in /home/cicbeast/.local/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.5.1)
Requirement already satisfied: async-generator in /home/cicbeast/.local/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.10)
Requirement already satisfied: nest-asyncio in /home/cicbeast/.local/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.4.1)
Building wheels for collected packages: htmlmin, imagehash
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27084 sha256=1845d79d1ff6dd475c2a6b96a22881dac1a89fd72c25cb40e768690baaf10ae7
  Stored in directory: /home/cicbeast/.cache/pip/wheels/23/14/6e/4be5bfeeb027f4939a01764b48edd5996acf574b0913fe5243
  Building wheel for imagehash (setup.py) ... done
  Created wheel for imagehash: filename=ImageHash-4.1.0-py2.py3-none-any.whl size=291991 sha256=99956e3d5778c4525a749360ef1be1032f568bf07916b04c10c069e946704fb4
  Stored in directory: /home/cicbeast/.cache/pip/wheels/cc/57/bb/6f9f52a6d8187b8f806210e3378837aa4dc6219cd64cb99846
Successfully built htmlmin imagehash
Installing collected packages: llvmlite, numba, joblib, scipy, phik, htmlmin, confuse, seaborn, tangled-up-in-unicode, networkx, PyWavelets, imagehash, visions, requests, tqdm, missingno, pandas-profiling
Successfully installed PyWavelets-1.1.1 confuse-1.3.0 htmlmin-0.1.12 imagehash-4.1.0 joblib-0.17.0 llvmlite-0.34.0 missingno-0.4.2 networkx-2.5 numba-0.51.2 pandas-profiling-2.9.0 phik-0.10.0 requests-2.24.0 scipy-1.5.3 seaborn-0.11.0 tangled-up-in-unicode-0.0.6 tqdm-4.51.0 visions-0.5.0

In [19]:
from pandas_profiling import ProfileReport
profile = ProfileReport(train)
profile.to_file("titanic_train.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=26.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [ ]:
# Let's go for a baseline prediction
# Based on 'Women and Children first', let's use those parameters to
# predict survival

In [32]:
len(train[train['Sex'] == 'female'])

314

In [35]:
len(train[train['Age'] <= 15])

83

In [36]:
# These numbers seem reasonable so lets take a look
titanic_women = train[train['Sex'] == 'female']
titanic_children = train[train['Age'] <= 15]

titanic_women.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [37]:
titanic_children.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q

In [41]:
# Now lets get a women and children df without duplicates
women_and_children = pd.concat([titanic_women,titanic_children]).drop_duplicates().reset_index(drop=True)
women_and_children.shape

(354, 11)

In [44]:
# Our prediction, based on "Women and Children first" would be that
# these 354 people from the titanic survived 
# Let's see how we did with the training set
base = len(women_and_children[women_and_children['Survived'] == 1])
surv = len(train[train['Survived'] == 1])
base/surv

0.7426900584795322

In [45]:
# Our baseline prediction got 74 percent of the survivors in the 
# training set. Not bad. Let's make our first submission using these
# parameters
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [46]:
testsub = test.copy()
testsub.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [47]:
testsub['Survived'] = 0
testsub.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
PassengerId,,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0

In [55]:
testsub.loc[testsub['Sex'] == "female", 'Survived'] = 1
testsub.loc[testsub['Age'] <= 15, 'Survived'] = 1

testsub.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
PassengerId,,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [59]:
sub = testsub[['Survived']]
sub.reset_index(level=0, inplace=True)

sub.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [61]:
sub.to_csv('sub.csv', index=False)

In [ ]:
# Our baseline gives us a 75% Accuracy. Not bad at all